<h2 class="mb-3">Liste des événements</h2>

<input type="text" class="form-control mb-4"
       placeholder="Rechercher un événement"
       [(ngModel)]="searchText">

<div class="row g-3">
  <div class="col-md-4" *ngFor="let event of events">
    <div class="card h-100 shadow-sm">

      <img [src]="event.imageUrl" 
           class="card-img-top img-fluid"
           style="height: 200px; object-fit: cover;" 
           [alt]="event.titre">

      <div class="card-body">
      
        <h5 class="card-title">{{ event.titre }}</h5>
        <p class="text-muted">{{ event.description }}</p>
        <p>Date: {{ event.date | date:'shortDate' }}</p>
        <p class="fw-bold">Lieu: {{ event.lieu }}</p>
        <p>Prix: {{ event.prix }} €</p>
        <p>Places disponibles: {{ event.nbplaces }}</p>

        
        <button class="btn btn-sm btn-primary"
                (click)="incrementLike(event)"
                [disabled]="isExpired(event)">
          👍 Like
        </button>
        <span class="ms-2">{{ event.nbrLike }}</span>
      </div>
    </div>
  </div>
</div>
